@import "tailwindcss";

@layer base {
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  button {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    background: rgb(250, 178, 190);
    color: white;
    cursor: pointer;
    font-weight: bolder;
  }

  button:hover {
    background: rgb(239, 149, 169);
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 1px white,
      0 0 2px white, 0 0 3px white, 0 0 1px white, 0 0 2px white, 0 0 3px white;
  }
}
