@import "tailwindcss";

@layer base {
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  button {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    background: rgb(247, 151, 167);
    color: white;
    cursor: pointer;
  }
}
