@import "tailwindcss";

@layer base {
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  button {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    background: rgb(250, 178, 190);
    color: white;
    cursor: pointer;
    font-weight: bolder;
  }

  button:hover {
    background: rgb(239, 149, 169);
  }
}

@theme {
  --color-lightMain: rgb(255, 219, 227);
  --color-main: rgb(250, 178, 190);
  --color-darkMain: rgb(239, 149, 169);
  --gradient-main: linear-gradient(
    135deg,
    var(--color-main),
    var(--color-darkMain)
  );
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 1px white,
      0 0 2px white, 0 0 3px white, 0 0 1px white, 0 0 2px white, 0 0 3px white;
  }

  .box-glow {
    box-shadow: -5px -5px 15px var(--color-lightMain),
      5px 5px 15px var(--color-darkMain);
  }

  .box-pink-shadow {
    box-shadow: 0 0 10px var(--color-lightMain);
  }

  .fade-in-up {
    @apply opacity-0 translate-y-4 transition-all duration-1500 ease-out;
  }
  .fade-in-up.show {
    @apply opacity-100 translate-y-0;
  }

  @keyframes toast-pop {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    20% {
      opacity: 1;
      transform: translateY(0);
    }
    80% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }

  .animate-toast {
    animation: toast-pop 1.5s ease-in-out forwards;
  }
}
